p {
	color: #36566D;
	font-size: 20px;
	text-align: center;
}
h1{
  color: black;
  font-size: 36px;
  text-align: center;
}
p2{
	color: #36566D;
	font-size: 20px;
}

u1 {
  	color: #36566D;
  	font-size: 20px;

  }
