
<title>Adam Wood's Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylsheet" media="(max-width: 800px)" href="example.css"
<title> Adam Wood's Website </title>
<head>
<link rel-"stylesheet"
hrfe="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>

<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>

<style>
@media (max-width:600px){

}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
	</div>
	<div class="row">
		<div class="col-md-8">.cod-md-8</div>
		<div class="col-md-4">.cod-md-4</div>
	</div>
	<div class="row">
		<div class=col-md-4">.col-md-4</div>
		<div class="col-md-4">.col-md-4</div>
		<div class="col-md-4">.col-md-4</div>
	</div>
	<div class="row"
		<div class="col-md-6">.col-md-6</div>
		<div class="col-md-6">.col-md-6</div>
	body<>
border: 1px solid #222;
background: #fff;
body</>
p {
	color: #36566D;
	font-size: 20px;
	text-align: center;
}
h1{
  color: black;
  font-size: 36px;
  text-align: center;
}
p2{
	color: #36566D;
	font-size: 20px;
}

u1 {
  	color: #36566D;
  	font-size: 20px;

  }
